
.b1{
    text-align: center;
    background-color:rgb(247, 202, 245);
  }
  .b2{
    text-align: center;
    background-color:rgb(247, 202, 245);
    
  }
  #second{
    display:none;
  }
  .container{
    text-align: center;
    color:rgb(230, 182, 24);
    
  }
   #id{
       text-align: center;
       align-self: center;
   }  
  body{
      
      background-image:url("https://wallpapercave.com/wp/wp2661660.jpg");
  }
  canvas{
      text-align: center;
      background-color: rgb(36, 36, 34);
  }
  .buttons{
      text-align: center;
      background-size:  1220px 1000px;
     color: rgb(230, 247, 252);
  }
  
  punch{
      color: rgb(233, 37, 27);
  }
  .bar{
    button{
      background-color:pink;
    }
  }
  .main{
      background-color:rgb(163, 224, 241);
     padding:15%;}
     h3{
     color:rgb(233, 37, 27);
     }
     h2{
      color:rgb(250, 251, 251);
      }
     .profession{
     color:black;
     }
     .bar{
     
     background-color:black;
     background-size:cover;
     text-align:right;
     
     }
     .About{
       padding:1%;
      }
     h4{
     text-decoration:underline ;}
     .About{background-color:rgb(163, 224, 241);
     color:rgb(22, 22, 22);}
     .title{color:rgb(78, 14, 229);
     text-decoration:underline ;}
     
     
     .pitcures{
         background-color: rgb(163, 224, 241);
       td{
         padding-left:200%;
         padding-right:200%;
         }
      }
      .column{
        padding-left:200%;}
        background-color:black;
      }
      .column-1{
        padding-left:200%;
      }
     
     
     .Contact{
     border-style:dotted ;
     padding-bottom:10%;
     padding-left:10%;
     border-color:rgb(83, 22, 188);
     background-color: rgb(163, 224, 241);
     }
     .conclusion{
     background-color:#eb77d0;
     color:rgb(13, 12, 12);
     }
     .table{
       background-color:#eb77d0;
       color:rgb(8, 8, 8);
     }
     td{
       padding-left:10%;
     }
     @media only screen and (max-width:768px)
     /For mobile phones/
     [class*="col-"]{
     width:100%;
         }
     }